/* Add some margin to the page and set a default font and colour */

/* Give headings their own font */

h1, h2, h3, h4 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #b31b1b;
	text-align: center;
}

/* Main content area */
#content {
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	position: relative;
}

/* Header/footer boxes */
.wideBox {
	clear: both;
	margin: 5px;
	background: #ffffff;
	border: 1px solid #333;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	height: 590px;
	z-index: 99;
	border-radius: 7px 7px 7px 7px / 7px 7px 7px 7px;
}

.wideBox h1 {
	font-weight: bold;
	color: #666;
	font-size: 22px;
}

/* Slots for final card positions */
#cardSlots {
	margin: 5px auto 0 auto;
	background: #ddf;
}

/* The initial pile of unsorted cards */
#cardPile, #info {
	margin: 5px auto 0 auto;
	background: #ffd;
}

#cardSlots, #cardPile {
	width: 950px;
	height: 380px;
	padding: 20px;
	border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	text-align: center;
}

#info {
	width: 950px;
	height: 110px;
	padding: 20px;
	border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

#helpTab {
	position: absolute;
	width: 20px;
	height: 50px;
	top: 33px;
	left: -28px;
	padding: 10px;
	background-color: #ddf;
	color: #666;
	font-weight: bold;
	font-size: 20px;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
	border-left: 2px solid #333;
	-moz-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .3em rgba(0, 0, 0, .8);
}

#helpTab:hover {
	color: white;
	background-color: #b31b1b;
}

#resultsTab {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 133px;
	left: -16px;
	background-repeat: none;
	background-image: url('../images/ribbon.png');
	cursor: pointer;
}

.rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-top: 28px;
}

.contentFrame {
	width: 1018px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/* Individual cards and slots */
#cardSlots div, #cardPile div {
	float: left;
	padding: 10px;
	padding-top: 40px;
	padding-bottom: 0;
	border: 2px solid #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0 0 0 10px;
	background: #ffffff;
}

#cardSlots div {
	width: 285px;
	height: 330px;
}

#cardPile div {
	width: 106px;
	height: 148px;
}

#cardSlots div:first-child, #cardPile div:first-child {
	margin-left: 0;
}

#cardSlots div:nth-child(1) {
	margin-left: 0px;
	position: absolute;
}

#cardSlots div:nth-child(3) {
	margin-left: 637px;
	position: absolute;
}

#cardSlots div:nth-child(2) {
	margin-left: 318px;
	position: absolute;
}

#cardSlots div.hovered {
	background: #aaaaaa;
}

#cardSlots div {
	border-style: dashed;
}

#cardPile div {
	background: #666;
	color: #fff;
	font-size: 14px;
	text-align: left;
	text-shadow: 0 0 3px #000;
	margin: 3px;
}

#cardPile div.ui-draggable-dragging {
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}

/* "You did it!" message */
.correct {
	visibility: hidden;
}

#correctMessage {
	width: 100%;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	margin-top: -5px;
}

#correctMessage img {
	margin-right: 10px;
}

/* "Congratulations!" message */
#successMessage {
	position: absolute;
	left: 25px;
	top: 20px;
	width: 950px;
	height: 200px;
	display: hidden;
}

#successMessage #playAgain {
	font-size: 20px;
	font-weight: bold;
	color: #666;
}

#successMessage #playAgain:hover {
	color: #b31b1b;
	text-decoration: underline;
}

.resource {
	margin-top: -25px;
}

div#info p {
	font-weight: bold;
}

a.viewresults {
	font-size: 18px;
	color: #666;
	font-weight: bold;
}

a.link1{
	font-size: 16px;
	color: #666;
	font-weight: bold;
}

a.viewresults:hover {
	color: #b31b1b;
}

a.link1:hover {
	color: #b31b1b;
}

.wideBox h1:hover {
	color: #b31b1b;
}

a.link{
	color: white;
}

#infoTab {
	position: relative;
	left: 955px;
	top: -45px;
	float: left;
	height: 90px;
	width: 30px;
	background-image: url('../images/ribbon_v1.png');
	background-repeat: no-repeat;
	z-index: 98;
}

div#tophead {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	border: solid #ebedf2;
	cursor: pointer;
	position: relative;
}

#infoTab:hover {
	cursor: pointer;
}

#arrow {
    float: left;
    margin-top: 5px;
    height: 40px;
    width: 30px;
    background-image: url('../images/ARROW2.png');
    background-repeat: no-repeat;
}

#arrow:hover {
    cursor: pointer;
}

#tabs{
	width: 950px;
	height: 780px;
}

#a, #b, #c{
	width: 900px;
	display: block;
	text-align: left;
}

#content {
	width: 925px;
	padding-left: 30px;
	padding-bottom: 20px;
	overflow: auto;
	overflow-y: hidden;
	height: 412px;
	margin-bottom: 30px;
	text-align: left;
}

#gameContent {
	padding-left: 30px;
	padding-bottom: 20px;
	overflow: auto;
	overflow-y: hidden;
	margin-bottom: 30px;
	text-align: center;
}

.tabs {
	margin-left: -15px;
}

.tabs a {
	font-size: 1.3em;
	text-decoration: none;
}

.tabs a:hover {
	color: #b31b1b;
}

.tabs a.active {
	color: #b31b1b;
	font-weight: bold;
}

#options {
	/*border-top: 1px solid Grey;*/
	height: 400px;
	width:635px;
	margin-top: -25px;
	float: right;
	padding: 10px;
}

.classname {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background: -moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color: #f9f9f9;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	text-indent: -2px;
	border: 3px solid #dcdcdc;
	display: inline-block;
	color: #666666;
	font-family: Times New Roman;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	height: 58px;
	line-height: 58px;
	width: 200px;
	text-decoration: none;
	text-align: center;
	text-shadow: 1px 1px 0px #ffffff;
}

.classname:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background: -moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color: #e9e9e9;
}

.classname:active {
	position: relative;
	top: 1px;
}

#btn1{
	margin-top: 35px;
	margin-left: 35px;
}

#btn2{
	margin-top: 35px;
	margin-left: 30px;
}

#btn3{
	margin-top: 30px;
	margin-left: 130px;
	width: 260px;
}

#quicklinks{
	width: 250px;
	height: 200px;
	border-right: 1px solid grey;
	float: left;
	padding-left: 10px;
}
